{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkinson Detection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <section class="header">
        <header class="p-3">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{% static 'assets/iASWFP01.svg' %}" alt="logo" height="40">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'home' %}" class="nav-link px-2 text-white merriweather-regular">Home</a></li>
                    <li><a href="{% url 'models' %}" class="nav-link px-2 text-white merriweather-regular">Models</a></li>
                    <li><a href="{% url 'chatbot' %}" class="nav-link px-2 text-white merriweather-regular">Chatbot</a></li>
                    <li><a href="{% url 'games' %}" class="nav-link px-2 text-white merriweather-regular">Games</a></li>
                    <li><a href="{% url 'contact' %}" class="nav-link px-2 text-white merriweather-regular">Contact Us</a></li>
                    <li><a href="{% url 'about' %}" class="nav-link px-2 text-white merriweather-regular">About</a></li>
                </ul>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2 merriweather-regular">Login</button>
                    <button type="button" class="btn btn-warning merriweather-regular">Sign-up</button>
                </div>
            </div>
        </header>
    </section>

    <section class="form">
        <div class="container formm">
            <br>
            <h1>Parkinson's Disease Detection</h1>
            <form action="{% url 'parkinson_predict' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="MDVP_Fo_Hz">Average vocal fundamental frequency (Hz):</label>
                    <input type="number" id="MDVP_Fo_Hz" name="MDVP_Fo_Hz" step="0.01" required>
                </div>
                <br>
                <div>
                    <label for="MDVP_Fhi_Hz">Maximum vocal fundamental frequency (Hz):</label>
                    <input type="number" id="MDVP_Fhi_Hz" name="MDVP_Fhi_Hz" step="0.01" required>
                </div>
                <br>
                <div>
                    <label for="MDVP_Flo_Hz">Minimum vocal fundamental frequency (Hz):</label>
                    <input type="number" id="MDVP_Flo_Hz" name="MDVP_Flo_Hz" step="0.01" required>
                </div>
                <br>
                <div>
                    <label for="MDVP_Jitter_percentage">Variation in frequency (percentage):</label>
                    <input type="number" id="MDVP_Jitter_percentage" name="MDVP_Jitter_percentage" step="0.01" required>
                </div>
                <br>
                <div>
                    <label for="MDVP_Jitter_Abs">Absolute variation in voice frequency:</label>
                    <input type="number" id="MDVP_Jitter_Abs" name="MDVP_Jitter_Abs" step="0.01" required>
                </div>
                <br>
                <div>
                    <label for="MDVP_RAP">Relative Average Perturbation (short-term frequency variability):</label>
                    <input type="number" id="MDVP_RAP" name="MDVP_RAP" step="0.01" required>
                </div>
                <br>
                <div>
                    <label for="Jitter_DDP">Average absolute difference of consecutive cycles:</label>
                    <input type="number" id="Jitter_DDP" name="Jitter_DDP" step="0.01" required>
                </div>
                <br>
                <div>
                    <label for="MDVP_Shimmer">Variation in amplitude of the voice:</label>
                    <input type="number" id="MDVP_Shimmer" name="MDVP_Shimmer" step="0.01" required>
                </div>
                <br>
                <div>
                    <label for="MDVP_Shimmer_dB">Shimmer in decibels:</label>
                    <input type="number" id="MDVP_Shimmer_dB" name="MDVP_Shimmer_dB" step="0.01" required>
                </div>
                <br>
                <br>
                <div>
                    <button type="reset">Reset</button>
                    <button type="submit">Predict</button>
                </div>
                <br>
            </form>
        </div>
    </section>    

    <section class="footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-0 border-top">
            <p class="col-md-4 mb-0 text-body-secondary merriweather-regular">© 2024 RAYS, Inc</p>

            <a href="{% url 'home' %}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{% static 'assets/iASWFP01.svg' %}" alt="logo" height="40">
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary merriweather-regular">Home</a></li>
                <li class="nav-item"><a href="{% url 'models' %}" class="nav-link px-2 text-body-secondary merriweather-regular">Models</a></li>
                <li class="nav-item"><a href="{% url 'chatbot' %}" class="nav-link px-2 text-body-secondary merriweather-regular">Chatbot</a></li>
                <li class="nav-item"><a href="{% url 'games' %}" class="nav-link px-2 text-body-secondary merriweather-regular">Games</a></li>
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link px-2 text-body-secondary merriweather-regular">Contact Us</a></li>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-body-secondary merriweather-regular">About</a></li>
            </ul>
        </footer>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
